<ion-view>
  <ion-content>
    <div class="bar bar-header">
      <h1 class="title" style="color: #6ebddb">欢迎加入八戒上学</h1>
    </div>

    <div class="list list-inset" style="top: 28px">
      <label class="item item-input">
        <input type="text" placeholder="用户名">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="密码">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="确认密码">
      </label>
    </div>

    <div class="list list-inset" style="margin-top: 35px;">
      <label class="item item-input">
        <select>
          <option value="1">北京大学</option>
          <option value="2">清华大学</option>
          <option value="3">浙江大学</option>
          <option value="4">复旦大学</option>
          <option value="4">上海交通大学</option>
        </select>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="学号">
      </label>

      <label>
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
      </label>
    </div>


  </ion-content>
</ion-view>
