<div class="bar bar-header" style="background-image:none">
  <h1 class="title" style="color: #6ebddb">欢迎加入八戒上学</h1>
</div>
<ion-view>
  <ion-content class="has-header" ng-controller="registerCtrl">
    <!--   <div class="list list-inset" style="top: 28px">
         <label class="item item-input">
           <input type="text" placeholder="用户名">
         </label>
         <label class="item item-input">
           <input type="password" placeholder="密码">
         </label>
         <label class="item item-input">
           <input type="password" placeholder="确认密码">
         </label>
       </div>-->

    <form>
      <div ng-show="curstep">
        <ul class="aui-list aui-form-list">
          <li class="aui-list-item" ng-click="seleSch()">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-label">
                学校
              </div>
              <div class="aui-list-item-input">
                <input type="text" ng-model="formdata.name" placeholder="点我选择学校">
              </div>
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-label">
                学院
              </div>
              <div class="aui-list-item-input">
                <input type="text" placeholder="...">
              </div>
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-label">
                入学年份
              </div>
              <div class="aui-list-item-input">
                <input type="date" placeholder="...">
              </div>
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-input">
                <label style="margin-right: 20px;"><input class="aui-radio" type="radio" name="demo1"> 专科</label>
                <label style="margin-right: 20px;"><input class="aui-radio" type="radio" name="demo1" checked>
                  本科</label>
                <label><input class="aui-radio" type="radio" name="demo1"> 研究生</label>
              </div>
            </div>
          </li>
        </ul>
        <div class="item" style="border:none;">
          <button ng-click="curstep=false" style="border-radius: initial;"
                  class="button button-block button-positive" type="button">下一步
          </button>
        </div>
      </div>
      <div ng-hide="curstep">
        <ul class="aui-list aui-form-list">
          <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-label">
                用户名
              </div>
              <div class="aui-list-item-input">
                <input type="text" placeholder="...">
              </div>
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-label">
                密码
              </div>
              <div class="aui-list-item-input">
                <input type="password" placeholder="********">
              </div>
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-input" style="padding-bottom: 10px">
                <textarea style="height:100px;font-size:12px;overflow:scroll" placeholder="Textarea">快看漫画App用户协议

请仔细阅读本协议，快看漫画App平台将依据以下条件和条款为您提供服务。

欢迎阅读快看漫画App平台用户协议(下称“本协议”)。本协议阐述之条款和条件适用于您使用快看漫画App平台所提供的各种工具和服务(下称“服务”)。

1．服务条款的确认

快看漫画App平台根据本服务条款及对该条款的修改向用户提供服务。本服务条款具有合同法上的法律效力。

如果您对协议的任何条款表示异议，您可以选择不注册，一旦您点选“注册”并通过注册程序，即表示您自愿接受本协议之所有条款，并已成为快看漫画App平台的注册用户。用户在使用快看漫画App平台的同时，同意接受快看漫画App平台注册用户服务提供的各类信息服务。

快看漫画有权根据互联网的发展和中华人民共和国有关法律、法规的变化，不断地完善服务质量并依此修改本用户协议条款。用户的权利以及义务的表述，均以最新的服务条款为准。服务条款一旦发生变动，将会在重要页面上提示修改内容。如用户仍继续在服务期内使用该软件即视为自动接受服务条款的变动。

2.1 快看漫画App平台服务的具体内容由本平台根据实际情况提供，并对所提供之服务拥有最终解释权。

2.2 快看漫画App平台仅向其注册用户提供相关服务，与相关服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均由注册用户自行负担。

2.3 鉴于网络服务的特殊性，用户同意快看漫画App平台有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。快看漫画App平台不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。

2.4 快看漫画App平台需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，快看漫画App平台无需为此承担任何责任。快看漫画App平台保留不经事先通知为维修保养、升级或其它目的暂停全部或部分的网络服务的权利。

2.5 用户明确同意其使用快看漫画App平台网络服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过快看漫画App平台服务而链接及得到的资讯、产品及服务均系快看漫画App平台自动搜录，快看漫画App平台对其合法性概不负责，亦不承担任何法律责任，用户自行承担风险，快看漫画App平台不做任何形式的保证，不保证搜索结果满足用户的要求，不保证搜索服务不中断，对搜索结果的安全性、正确性、及时性、合法性均不做担保。

2.6快看漫画App平台有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，快看漫画App平台对用户和任何第三人均无需承担任何责任。

2.7 您同意快看漫画App平台得基于其自行之考虑，因任何理由，包含但不限于长时间未使用，或快看漫画App平台认为您已经违反本服务协议的文字及精神，终止您的密码、帐号或本服务之使用（或服务之任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供之服务，无需进行事先通知即可中断或终止，您承认并同意，快看漫画App平台可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，或禁止继续使用前述文件或本服务。

此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，快看漫画App平台对您或任何第三人均不承担任何责任。

3．注册用户帐号及密码

3.1 用户注册注册用户成功后，快看漫画App平台将给予每个注册用户一个帐号及相应的密码，该帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。

3.2 因黑客行为或注册用户保管疏忽致使帐号、密码被他人非法使用的，本公司不承担任何责任。如您发现任何非法使用注册用户帐号或安全漏洞的情况，请立即与本公司联系。

4. 注册信息和隐私保护

4.1 快看漫画App平台帐号（即快看漫画App平台用户ID）的所有权归快看漫画App平台，用户完成注册申请手续后，获得快看漫画App平台帐号的使用权。用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将作为注册资料。如果因用户注册信息不真实而引起的问题及其产生的后果，快看漫画App平台不负任何责任。

4.2 用户不得将其帐号、密码转让或出借予他人使用。如发现其帐号遭他人非法使用，应立即通知快看漫画App平台。

4.3 快看漫画App平台不对外公开或向第三方提供单个用户的注册资料，除非：

事先获得用户的明确授权；
只有透露你的个人资料，才能提供你所要求的产品和服务；
根据有关的法律法规要求；
按照相关政府主管部门的要求；
为维护快看漫画App平台的合法权益。
4.4 在您注册快看漫画App平台帐户，使用快看漫画App平台产品或服务，或访问快看漫画App平台网页时，快看漫画App平台会收集您的个人身份识别资料，并会将这些资料用于：改进为您提供的服务及网页内容。

5. 用户权责

5.1符合下列条件之一的个人、组织，才能申请成为快看漫画App平台用户、使用本协议项下的服务：

5.1.1 年满十八周岁，并具有民事权利能力和民事行为能力的自然人；

5.1.2 未满十八周岁，但监护人（包括但不仅限于父母）予以书面同意的自然人；

5.1.3 根据中国法律、法规成立并合法存在的公司等企业法人、事业单位、社团组织和其他组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册为用户的，其与本公司之间的协议自始无效，本公司一经发现，有权立即注销该用户。

5.2 用户有权按照快看漫画App平台规定的程序和要求使用快看漫画App平台向注册用户提供的各项网络服务，如果注册用户对该服务有异议，可以与快看漫画App平台联系以便得到及时解决。

5.3 用户在申请使用快看漫画App平台网络服务时，必须向快看漫画App平台提供准确的个人资料，如个人资料有任何变动，必须及时更新。

5.4 用户须同意接受快看漫画App平台通过电子邮件或其他方式向注册用户发送相关商业信息。</textarea>
                <p style="line-height: 0.6rem;padding-bottom: 2px;text-align: center"><input style="width: 0.6rem;height: 0.6rem;" class="aui-radio" type="radio">&nbsp<small>同意注册协议</small></p>
              </div>
            </div>
          </li>
         <!-- <li class="aui-list-item" style="border-bottom: none">
            <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
              <div ng-click="login()" class="aui-btn aui-btn-info aui-margin-r-5">注册</div>
              <div ng-click="curstep=true" class="aui-btn aui-btn-danger aui-margin-l-5">取消</div>
            </div>
          </li>-->
        </ul>
        <div class="item" style="border:none;padding-top: 0px">
          <button ng-click="login()"
                  class="button button-block button-positive" type="button">注册
          </button>
          <button ng-click="curstep=true"
                  class="button button-block button-stable" type="button">取消
          </button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
