<ion-header-bar class="bar-positive">
  <h1 class="title">学习天地</h1>
</ion-header-bar>
<ion-view>
  <ion-content cache-view="false" ng-controller="StudysCtrl" class="has-header">
    <ion-refresher pulling-text="松开手会有惊喜哦" on-refresh="doRefresh()" refreshing-text="Refreshing!"
                   refreshing-icon="ion-loading-b">
    </ion-refresher>
    <section class="aui-grid">
      <div class="aui-row" style="margin: 0 2%;">
        <div class="aui-col-xs-3 stu-all" on-hold="remove=true" ng-style="{height:myheight}" ng-repeat="t in stype">
          <div class="stu-warp" ng-style="{'background-color': t.bg,height:sth,'line-height':sth}"
               ng-class="{'mlenstyle':t.title.length>=4}">
            {{t.title}}
          </div>
          <i ng-click="delete($index)" ng-show="remove" class="ion-close-circled stu-i"></i>
        </div>
        <div class="aui-col-xs-3" ng-click="gostype()" ng-style="{height:myheight}">
          <div class="stu-warp" ng-style="{height:sth,'line-height':sth}"
               style="background: #8c8c8c;font-size: 1.1rem;font-weight: bold;">
            <i class="aui-iconfont aui-icon-plus"></i>
          </div>
        </div>
      </div>
    </section>
    <div class="y-list">
      <div class="card y-card a-warp" ng-repeat="study in studylist" ng-click="studetial()" >
        <a class="item">
          <h2>{{study.title}}<span style="color:deepskyblue">{{currentTab}}</span></h2>
          <span class="y-lasttime-right">{{study.timestamp}}</span>
          <p class="y-front-size" style="white-space: normal">{{study.content}}</p>
          <div class="y-front-size">
            <div style="position: absolute;right:16px;bottom: 8px">
              <span class="y-spcol-right"><i class="aui-iconfont aui-icon-like"></i>{{study.likenum}}</span>
              <span  ng-click="showComment=true;showMore=true" ng-class="{'df-color':showComment}" class="y-p-col-right"><i class="aui-iconfont aui-icon-comment"></i>{{study.commentnum}}</span>
            </div>
          </div>
        </a>
        <!--评论开始-->
        <div class="aui-card-list-content" ng-show="showComment">
          <ul class="aui-list aui-media-list">
            <li class="aui-list-item aui-list-item-middle">
              <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                  <img src="img/perry.png" class="aui-img-round aui-list-img-sm">
                </div>
                <div class="aui-list-item-inner">
                  <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-font-size-14">AUI</div>
                    <div class="aui-list-item-right">08:00</div>
                  </div>
                  <div class="aui-list-item-text">
                    www.auicss.com
                  </div>
                </div>
                <div class="aui-list-item-text aui-a-like" ng-click="count = count + 1" ng-init="count=34">
                  <i class="ion-android-favorite-outline" ng-class="{'df-color':count>34}"></i>&nbsp;{{count}}
                </div>
              </div>
            </li>
            <li class="aui-list-item aui-list-item-middle">
              <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                  <img src="img/ben.png" class="aui-img-round aui-list-img-sm">
                </div>
                <div class="aui-list-item-inner">
                  <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-font-size-14">流浪男</div>
                    <div class="aui-list-item-right">1小时前</div>
                  </div>
                  <div class="aui-list-item-text">
                    www.auicss.com
                  </div>
                </div>
                <div class="aui-list-item-text aui-a-like">
                  <i class="ion-android-favorite-outline"></i>&nbsp;3
                </div>
              </div>
            </li>
            <li class="aui-list-item aui-list-item-middle" ng-hide="showMore">
              <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                  <img src="img/ionic.png" class="aui-img-round aui-list-img-sm">
                </div>
                <div class="aui-list-item-inner">
                  XXX
                </div>
                <div class="aui-list-item-text aui-a-like">
                  <i class="ion-android-favorite-outline"></i>&nbsp;8
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="aui-card-list-footer aui-text-center" ng-show="showMore" ng-click="showMore=false">
          查看更多
        </div>
        <!--评论结束-->
      </div>
    </div>
  </ion-content>
</ion-view>
