<ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title">八戒上学</h1>
  <a class="button button-icon icon ion-ios-search-strong"></a>
</ion-header-bar>

<ion-view>
  <ion-content style="top: 44px;">
    <ion-list>
      <ion-item>
        <div class="list">

          <a class="item item-avatar" href="#/mine/account">
            <img src="../img/ionic.png">
            <h2>LucasX</h2>
            <p>这个人很懒，什么也没说...</p>
          </a>

          <a class="item item-icon-left" href="#/mine/notification">
            <i class="icon ion-ios-bell-outline"></i>
            通知
            <span class="badge badge-assertive">5</span>
          </a>

          <a class="item item-icon-left" href="#/mine/agenda">
            <i class="icon ion-ios-clock-outline"></i>
            日程
          </a>
        </div>
      </ion-item>

      <ion-item>
        <a class="item item-icon-left" href="#/mine/setting">
          <i class="icon ion-ios-gear-outline"></i>
          设置
        </a>

        <a class="item item-icon-left" href="#/mine/about">
          <i class="icon ion-ios-information-outline"></i>
          关于
        </a>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
