<ion-header-bar class="bar-positive" style="line-height: 34px;">
  <ion-scroll direction="x" class="df-tab">
    <span ng-repeat="t in stype" ng-class="{'df-tab-active':isActivetab('{{t.title}}')}"
          ng-click="onClickTab(t)">{{t.title}}</span>
    <span ng-click="gostype()"><i class="ion-plus" style="font-size: 20px;"></i></span>
  </ion-scroll>
</ion-header-bar>
<ion-view>
  <ion-content cache-view="false" class="has-header">
    <ion-refresher pulling-text="松开手会有惊喜哦" on-refresh="doRefreshStudy()" refreshing-text="Refreshing!"
                   refreshing-icon="ion-loading-b">
    </ion-refresher>
    <div class="y-list">
      <div class="card y-card a-warp" ng-repeat="study in studylist" ng-click="studetial()">
        <a class="item">
          <h2>{{study.title}}<span style="color:deepskyblue"></span></h2>
          <span class="y-lasttime-right">{{study.timestamp}}</span>
          <p class="y-front-size" style="white-space: normal">{{study.content}}</p>
          <div class="y-front-size">
            <div style="position: absolute;right:16px;bottom: 8px">
              <span class="y-spcol-right"><i class="aui-iconfont aui-icon-like"></i>{{study.likenum}}</span>
              <span ng-click="showComment=true;showMore=true" ng-class="{'df-color':showComment}" class="y-p-col-right"><i
                class="aui-iconfont aui-icon-comment"></i>{{study.commentnum}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
