<ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title">八戒上学</h1>
  <a class="button button-icon icon ion-ios-search-strong"></a>
</ion-header-bar>

<ion-view>
  <ion-content style="top: 0;">

    <ion-tabs class="tabs-striped tabs-top tabs-color-positive tabs-color-light">

      <ion-tab title="问答列表" href="#/quora/list">
        <ion-nav-view name="quora-list"></ion-nav-view>
        <ion-refresher
          pulling-text="松开手会有惊喜哦"
          on-refresh="doRefresh()">
        </ion-refresher>
      </ion-tab>

      <ion-tab title="我的问答" href="#/quora/mine">
        <ion-nav-view name="quora-mine"></ion-nav-view>
        <ion-refresher
          pulling-text="松开手会有惊喜哦"
          on-refresh="doRefresh()">
        </ion-refresher>
      </ion-tab>

  </ion-content>
</ion-view>
