<ion-view>
  <ion-content>
    <div class="aui-popup aui-popup-bottom" id="bottom">
      <div class="aui-popup-arrow"></div>
      <div class="aui-popup-content">
        <ul class="aui-list aui-list-noborder">
          <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
              <i class="aui-iconfont aui-icon-my aui-text-warning"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-middle">
              会员中心
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
              <i class="aui-iconfont aui-icon-mail aui-text-info"></i>
            </div>
            <div class="aui-list-item-inner">
              会话消息
            </div>
          </li>
          <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
              <i class="aui-iconfont aui-icon-star aui-text-danger"></i>
            </div>
            <div class="aui-list-item-inner">
              我的收藏
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-light" style="background-image:none;box-shadow: 0 0 1px #eee;">
    <label ng-click="$ionicGoBack()" class="title" style="line-height: 44px"><i class="ion-android-close" style="color:red;font-size: 30px"></i></label>
  </ion-footer-bar>
</ion-view>

