<ion-header-bar class="bar-positive">
  <h1 class="title">有问有答</h1>
</ion-header-bar>
<ion-view>
  <ion-content style="background: #ebebeb">
    <div class="row" style="padding: 0px">
      <ul class="slide-tab">
        <li ng-class="slideIndex == 0 ? 'current':''"><a ng-click="activeSlide(0)">全部问题</a></li>
        <li ng-class="slideIndex == 1 ? 'current':''"><a ng-click="activeSlide(1)">我的问题</a></li>
        <li ng-class="slideIndex == 2 ? 'current':''"><a ng-click="activeSlide(2)">我的回答</a></li>
      </ul>
    </div>
    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" style="margin-top:10px">
      <ion-slide ng-controller="QuoraCtrl" >
        <div class="y-list"  ng-hide="viewmore">
          <div class="a-warp" ng-repeat="allquora in allquoralist" ng-click="goqu(allquora)">
            <a class="item item-thumbnail-left">
              <img src="{{allquora.imgSrc}}" alt="{{allquora.title}}">
              <h2>{{allquora.title}}</h2>
              <span class="y-lasttime-right">{{allquora.timestamp}}</span>
              <p style="white-space: initial;">{{allquora.content}}</p>
              <p class="y-front-size">
                <span class="y-p-col"><i class="ion-ios-heart-outline"></i>{{allquora.follownum}}</span>
                <span class="y-p-col-right"><i class="ion-chatbubble-working"></i>{{allquora.commentnum}}</span>
              </p>
            </a>
          </div>
        </div>
        <div ng-show="viewmore" ng-include="'templates/quora/quora-list.html'"></div>
      </ion-slide>

      <ion-slide ng-controller="qmineCtrl">
        <div ng-hide="addqu" class="df-none-qu">
          <h2 style="letter-spacing: 2px">您还没问过任何问题</h2>
          <p class="df-none-p">
          <div ng-click="add()" class="button button-positive aui-btn-block aui-btn-sm df-none-button">现在提问</div>
          </p>
        </div>
        <div ng-show="addqu" ng-include="quurl">
        </div>
      </ion-slide>
      <ion-slide ng-controller="amineCtrl">
        <div class="y-list">

          <div class="a-warp">

            <div ng-repeat="myquora in myquoralist" class="card y-card">
              <div class="item item-thumbnail-left">
                <img src="{{myquora.imgSrc}}" alt="{{myquora.title}}">
                <h2>{{myquora.title}}</h2>
                <span class="y-lasttime-right">{{myquora.timestamp}}</span>
                <p>{{myquora.content}}</p>
                <p class="y-front-size">
                  <span class="y-p-col"><i class="ion-ios-heart-outline"></i>{{myquora.follownum}}</span>
                  <span class="y-p-col-right" ng-click="showComment=true" ng-class="{'df-color':showComment}"><i
                    class="ion-chatbubble-working"></i>{{myquora.commentnum}}</span>
                </p>
              </div>
            </div>

            <!--评论开始-->
            <div class="aui-card-list-content" ng-show="showComment">
              <ul class="aui-list aui-media-list">
                <li class="aui-list-item aui-list-item-middle">
                  <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                      <img src="img/perry.png" class="aui-img-round aui-list-img-sm">
                    </div>
                    <div class="aui-list-item-inner">
                      <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">AUI</div>
                        <div class="aui-list-item-right">08:00</div>
                      </div>
                      <div class="aui-list-item-text">
                        BIO
                      </div>
                    </div>
                    <div class="aui-list-item-text aui-a-like">
                      <i class="ion-android-favorite-outline"></i>&nbsp;1234
                    </div>
                  </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                  <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                      <img src="img/ben.png" class="aui-img-round aui-list-img-sm">
                    </div>
                    <div class="aui-list-item-inner">
                      Lucy
                    </div>
                    <div class="aui-list-item-text aui-a-like">
                      <i class="ion-android-favorite-outline"></i>&nbsp;3
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--
          <div class="aui-card-list-footer aui-text-center">
                        查看更多
          </div>-->
          <!--评论结束-->
        </div>

        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
