<ion-header-bar class="bar-positive">
  <h1 class="title">我的</h1>
  <div class="buttons">
    <button ng-click="setting()"
            class="button no-animation button-icon icon buttons button-clear ion-ios-settings">
    </button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header" overflow-scroll="true" style="overflow: hidden; background: #fff">
    <div style="background: #fff;padding-top:15px">
      <div class="row mine-row">
        <div class="col-25  y_box">
        </div>
        <div class="col-50  y_box" ng-click="viewinfo()">
          <div class="content-box-pic">
            <img class="bc-fam" src="../img/avatar-default-boy.png"/>
            <p style="color: red">LucasX</p>
          </div>
        </div>
        <div class="col-25  y_box">
        </div>
      </div>
      <p class="gxqm">这家伙很懒，什么都没留下...</p>
    </div>
    <div style="width:100%;height:10px;background: #eee"></div>
    <div class="my-set">
      <div class="aui-col-xs-6  aui-list-view-cell df-border-right df-border-bottom">
        <a>
          <img src="../img/icon/积分.png"/>
          <h2 class="ng-binding">我的积分</h2>
          <p class="ng-binding">{{blocks.result[0].size}}</p>
        </a>
      </div>
      <div class="aui-col-xs-6  aui-list-view-cell df-border-left df-border-bottom">
        <a class="" ng-click="">
          <img src="../img/icon/日程.png"/>
          <h2 class="ng-binding" ng-click="myplan('日程表')">待办日程</h2>
          <p class="ng-binding">{{blocks.result[1].size}}</p>
        </a>
      </div>
      <div class="aui-col-xs-6  aui-list-view-cell df-border-right df-border-top" ng-click="mynotice()">
        <a class="">
          <img src="../img/icon/消息通知.png"/>
          <h2 class="ng-binding">消息通知</h2>
          <p class="ng-binding">{{blocks.result[2].size}}</p>
        </a>
      </div>
      <div class="aui-col-xs-6  aui-list-view-cell df-border-left df-border-top" ng-click="collect()">
        <a class="">
          <img src="../img/icon/收藏.png"/>
          <h2 class="ng-binding">我的收藏</h2>
          <p class="ng-binding">{{blocks.result[3].size}}</p>
        </a>
      </div>
    </div>
    <div align="center" style="font-size: small">最近一周访客</div>
    <div id="main" class="mine-hc"></div>
  </ion-content>
</ion-view>
