<ion-tabs class="tabs-top tabs-background-positive tabs-color-positive tabs-color-light df-tabs">
  <!--<ion-tab title="活动列表" href="#/activity/list">-->
  <ion-tab title="活动列表" class="tab-left">
    <ion-nav-view name="activity-list">
      <ion-view>
        <ion-content ng-controller="ActivityCtrl" delegate-handle="tab1">
          <ion-refresher
            pulling-text="松开手会有惊喜哦"
            on-refresh="doRefreshAct()">
          </ion-refresher>

          <div class="item-input-inset" style="background: #efefef;">
            <div class="aui-searchbar-input aui-border-radius" tapmode ng-click="doSearch()">
              <i class="aui-iconfont aui-icon-search"></i>
              <form action="javascript:search();">
                <input id="search" type="search" placeholder="&nbsp;&nbsp;&nbsp;请输入搜索内容..." style="text-indent: 1em"
                       ng-model="searchContent" value="searchContent">
              </form>
            </div>
            <div class="aui-searchbar-cancel" style="min-width:42px;color: #59ADC9" ng-click="reset()"
                 ng-hide="!searchContent || searchContent === ''">取消
            </div>
          </div>

          <div class="aui-tab">
            <div class="aui-tab-item" ng-repeat="tab in tabs"
                 ng-class="{'aui-active':isActivetab('{{tab.actTypeName}}')}"
                 ng-click="onClickTab(tab)">{{tab.actTypeName}}
            </div>
          </div>

          <ion-slide-box class="df-slider" on-slide-changed="slideHasChanged($index)" auto-play="true"
                         does-continue="true" slide-interval=0 show-pager="true" pager-click="pageClick(index)"
                         active-slide="model.activeIndex"
                         delegate-handle="delegateHandler">
            <ion-slide class="y_slider" ng-repeat="banner in bannerlist">
              <a href="{{banner.href}}"><img ng-src="{{banner.img}}"/></a>
            </ion-slide>

          </ion-slide-box>

          <div class="y-list">
            <div ng-repeat="activity in activitylist | filter:searchContent" class="card y-card"
                 ng-click="actdetial(activity)">
              <a class="item item-thumbnail-left">
                <img ng-src="{{activity.actImg || 'img/img-default-activity.png'}}" alt="{{activity.actTitle}}">
                <h2>{{activity.actTitle}}</h2>
                <span class="y-lasttime-right">{{activity.actTime | date:'yyyy-MM-dd HH:mm'}}</span>
                <p>{{activity.actContent}}</p>
                <p class="y-front-size">
                  <span class="y-p-col"><i class="ion-ios-heart-outline"></i>{{activity.actLike}}</span>
                  <span class="y-p-col-right"><i class="ion-chatbubble-working"></i>{{activity.actComment}}</span>
                </p>
              </a>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </ion-nav-view>
  </ion-tab>
  <!--<ion-tab title="我的活动" href="#/activity/mine">-->
  <ion-tab title="我的活动" class="tab-right">
    <ion-nav-view name="activity-mine">
      <ion-view>
        <ion-content style="background: #ebebeb" ng-controller="myActCtrl" delegate-handle="tab2">
          <ion-refresher
            pulling-text="松开手会有惊喜哦"
            on-refresh="doRefresh()">
          </ion-refresher>
          <div class="row" style="padding: 0px">
            <ul class="slide-tab slide-liw">
              <li ng-click="activeSlide(0)" ng-class="slideIndex == 0 ? 'current':''"><a>已发布的活动</a></li>
              <li ng-click="activeSlide(1)" ng-class="slideIndex == 1 ? 'current':''"><a>已参加的活动</a></li>
            </ul>
          </div>
          <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" style="margin-top:10px">
            <ion-slide ng-controller="puactCtrl">
              <div class="y-list" ng-hide="viewmore">
                <div ng-repeat="publishedactivity in publishedactivitylist" class="card y-card"
                     ng-click="gopuact('{{publishedactivity}}')">
                  <a class="item item-thumbnail-left">
                    <img ng-src="{{publishedactivity.actImg}}" alt="{{publishedactivity.title}}">
                    <h2>{{publishedactivity.actTitle}}</h2>
                    <span class="y-lasttime-right">{{publishedactivity.actTime}}</span>
                    <p class="y-front-size">{{publishedactivity.actContent}}</p>
                    <p class="y-front-size">
                      <span class="y-p-col"><i class="ion-ios-heart-outline"></i>{{publishedactivity.actLike}}</span>
                      <span class="y-p-col-right"><i class="ion-chatbubble-working"></i>{{publishedactivity.actComment}}</span>
                    </p>
                  </a>
                </div>
              </div>
              <div ng-show="viewmore" ng-include="'templates/activity/published-act.html'"></div>
            </ion-slide>

            <ion-slide ng-controller="attactCtrl">

              <div class="y-list" ng-hide="viewmore">
                <div class="act-warp">
                  <div ng-repeat="joinactivity in joinactivitylist" class="card y-card"
                       ng-click="gopuact('{{joinactivity}}')">
                    <a class="item item-thumbnail-left">
                      <img ng-src="{{joinactivity.actImg || img/img-default-activity.png}}"
                           alt="{{joinactivity.actTitle}}">
                      <h2>{{joinactivity.actTitle}}</h2>
                      <span class="y-lasttime-right">{{joinactivity.actTime | date:'yyyy-MM-dd HH:mm'}}</span>
                      <p class="y-front-size">{{joinactivity.actContent}}</p>
                      <p class="y-front-size">
                        <span class="y-p-col"><i
                          class="ion-ios-heart-outline"></i>{{joinactivity.actLike}}</span>
                        <span class="y-p-col-right"><i
                          class="ion-chatbubble-working"></i>{{joinactivity.actComment}}</span>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <div ng-show="viewmore" ng-include="'templates/activity/published-act.html'"></div>
            </ion-slide>
          </ion-slide-box>
        </ion-content>
      </ion-view>
    </ion-nav-view>
  </ion-tab>
</ion-tabs>
<div class="buttons" style="position: absolute;right:5px;z-index: 999;" ui-sref="newact">
  <button class="button no-animation button-icon icon ion-ios-plus-outline" style="color:#fff">
  </button>
</div>
