<ion-tabs class="tabs-top tabs-background-positive tabs-color-positive tabs-color-light df-tabs">
  <!--<ion-tab title="活动列表" href="#/activity/list">-->
  <ion-tab title="活动列表" class="tab-left">
    <ion-nav-view name="activity-list">
      <ion-view>
        <ion-content ng-controller="ActivityCtrl">
          <ion-refresher
            pulling-text="松开手会有惊喜哦"
            on-refresh="doRefreshAct()">
          </ion-refresher>

          <div class="item-input-inset" style="background: #efefef;">
            <div class="aui-searchbar-input aui-border-radius" tapmode ng-click="doSearch()">
              <i class="aui-iconfont aui-icon-search"></i>
              <form action="javascript:search();">
                <input id="search" type="search" placeholder="&nbsp;&nbsp;&nbsp;请输入搜索内容..." style="text-indent: 1em"
                       ng-model="searchContent" value="searchContent">
              </form>
            </div>
            <div class="aui-searchbar-cancel" style="min-width:42px;color: #59ADC9" ng-click="reset()"
                 ng-hide="!searchContent || searchContent === ''">取消
            </div>
          </div>
          <div class="aui-tab">
            <div class="aui-tab-item" ng-repeat="tab in tabs" ng-class="{'aui-active':isActivetab('{{tab.title}}')}"
                 ng-click="onClickTab(tab)">{{tab.title}}
            </div>
          </div>
          <ion-slide-box class="df-slider" on-slide-changed="slideHasChanged($index)" auto-play="true"
                         does-continue="true" slide-interval=0 show-pager="true" pager-click="pageClick(index)"
                         active-slide="model.activeIndex"
                         delegate-handle="delegateHandler">
            <ion-slide class="y_slider">
              <a href="https://www.baidu.com"><img src="img/activity/ad/4.jpg"/></a>
            </ion-slide>
            <ion-slide class="y_slider">
              <a href="http://www.qq.com/"> <img src="img/activity/ad/3.jpg"/></a>
            </ion-slide>
            <ion-slide class="y_slider">
              <a href="#"><img src="img/activity/ad/2.jpg"/></a>
            </ion-slide>
            <ion-slide class="y_slider">
              <a href="#"><img src="img/activity/ad/1.jpg"></a>
            </ion-slide>
          </ion-slide-box>
          <div class="y-list">
            <div ng-repeat="activity in activitylist | filter:searchContent" class="card y-card"
                 ng-click="actdetial(activity)">
              <a class="item item-thumbnail-left">
                <img ng-src="{{activity.imgSrc}}" alt="{{activity.title}}">
                <h2>{{activity.title}}</h2>
                <span class="y-lasttime-right">{{activity.timestamp}}</span>
                <p>{{activity.content}}</p>
                <p class="y-front-size">
                  <span class="y-p-col"><i class="ion-ios-heart-outline"></i>{{activity.likenum}}</span>
                  <span class="y-p-col-right"><i class="ion-chatbubble-working"></i>{{activity.commentnum}}</span>
                </p>
              </a>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </ion-nav-view>
  </ion-tab>
  <!--<ion-tab title="我的活动" href="#/activity/mine">-->
  <ion-tab title="我的活动" class="tab-right">
    <ion-nav-view name="activity-mine">
      <ion-view>
        <ion-content style="background: #ebebeb" ng-controller="myActCtrl">
          <ion-refresher
            pulling-text="松开手会有惊喜哦"
            on-refresh="doRefresh()">
          </ion-refresher>
          <div class="row" style="padding: 0px">
            <ul class="slide-tab">
              <li ng-click="activeSlide(0)" ng-class="slideIndex == 0 ? 'current':''"><a>发起活动</a></li>
              <li ng-click="activeSlide(1)" ng-class="slideIndex == 1 ? 'current':''"><a>已发布的活动</a></li>
              <li ng-click="activeSlide(2)" ng-class="slideIndex == 2 ? 'current':''"><a>已参加的活动</a></li>
            </ul>
          </div>
          <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" style="margin-top:10px">
            <ion-slide ng-controller="newactCtrl">
              <form class="list" class="aui-input-group">
                <input type="hidden" name="id" ng-model="formData.id">
                <div class="list" style="position: relative;">
                  <label class="item item-input">
                    <span class="input-label">主题：</span>
                    <input type="text" name="actnum" placeholder="填写活动主题" ng-model="formData.actnum">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">类别：</span>
                    <select style="width: 70%;" type="text" placeholder="选择活动类别" name="acttitle"
                            ng-model="formData.acttitle" ng-options="class for class in classes">
                    </select>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">时间</span>
                    <input id="ddate" class="form-control" type="date" name="acttime" placeholder="选择活动时间"
                           style="border:none;" ng-model="formData.acttime1">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">地点：</span>
                    <input type="text" name="actplace" placeholder="填写活动地点" ng-model="formData.actplace">
                  </label>
                  <label class="item item-input" ng-click="choosePicMenuf()">
                    <span class="input-label">照片：</span>
                    <input type="text" name="actuploadPhoto" placeholder="上传照片" ng-model="formData.actuploadPhoto">
                  </label>
                  <!--<label class="item item-input">
                    <span class="input-label">报名人数：</span>
                    <input type="number" name="actpeople" placeholder="报名人数" ng-model="formData.actpeople">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">设置权限：</span>
                    <input type="text" name="actauthority" placeholder="设置权限" ng-model="formData.actauthority">
                  </label>-->
                  <label class="item item-input">
                    <span class="input-label">主要内容：</span>
                    <textarea name="actcontent" placeholder="填写主要内容" ng-model="formData.actcontent">
                    </textarea>
                  </label>
                </div>
                <p style="text-align:center;padding-top:20px;">
                  <button type="reset" class="button button-grey" type="reset"
                          style="margin-right:30px;font-size:18px;width: 85px;">重&nbsp;&nbsp;置
                  </button>
                  <button ng-click="save()" class="button button-positive" type="submit"
                          style="font-size:18px;width: 85px;">保&nbsp;&nbsp;存
                  </button>
                </p>
              </form>
            </ion-slide>

            <ion-slide ng-controller="puactCtrl">

              <div class="y-list" ng-hide="viewmore">
                <div ng-repeat="publishedactivity in publishedactivitylist" class="card y-card"
                     ng-click="gopuact('{{publishedactivity}}')">
                  <a class="item item-thumbnail-left">
                    <img ng-src="{{publishedactivity.imgSrc}}" alt="{{publishedactivity.title}}">
                    <h2>{{publishedactivity.title}}</h2>
                    <span class="y-lasttime-right">{{publishedactivity.timestamp}}</span>
                    <p class="y-front-size">{{publishedactivity.content}}</p>
                    <p class="y-front-size">
                      <span class="y-p-col"><i class="ion-ios-heart-outline"></i>{{publishedactivity.likenum}}</span>
                      <span class="y-p-col-right"><i class="ion-chatbubble-working"></i>{{publishedactivity.commentnum}}</span>
                    </p>
                  </a>
                </div>
              </div>
              <div ng-show="viewmore" ng-include="'templates/activity/published-act.html'"></div>
            </ion-slide>

            <ion-slide ng-controller="attactCtrl">

              <div class="y-list" ng-hide="viewmore">
                <div class="act-warp">
                  <div ng-repeat="joinactivity in joinactivitylist" class="card y-card"
                       ng-click="gopuact('{{joinactivity}}')">
                    <a class="item item-thumbnail-left">
                      <img ng-src="{{joinactivity.imgSrc}}" alt="{{joinactivity.title}}">
                      <h2>{{joinactivity.title}}</h2>
                      <span class="y-lasttime-right">{{joinactivity.timestamp}}</span>
                      <p class="y-front-size">{{joinactivity.content}}</p>
                      <p class="y-front-size">
                        <span class="y-p-col"><i
                          class="ion-ios-heart-outline"></i>{{joinactivity.likenum}}</span>
                        <span class="y-p-col-right"><i
                          class="ion-chatbubble-working"></i>{{joinactivity.commentnum}}</span>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <div ng-show="viewmore" ng-include="'templates/activity/published-act.html'"></div>
            </ion-slide>
          </ion-slide-box>
        </ion-content>
      </ion-view>
    </ion-nav-view>
  </ion-tab>
</ion-tabs>
