<ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title">八戒上学</h1>
  <a class="button button-icon icon ion-ios-search-strong"></a>
</ion-header-bar>

<ion-view>
  <ion-content class="has-header">
    <div class="row df-study">
      <div class="df-col col" style="height:180px">
        <img src="img/study/1.jpg"/>
        <p class="y-absolute y-df-top"><span class="y-df-left">在线记单词</span></p>
        <p class="y-total y-df-bot"><span class="y-p-col"><i class="ion-ios-heart-outline"></i>10</span>
          <span class="y-p-col"><i class="ion-chatbubble-working"></i>23</span></p>
      </div>
    </div>
    <div class="row df-study">
      <div class="df-col" style="width:42%;height:130px">
        <img src="img/study/3.jpg"/>
        <p class="y-absolute y-df-bot"><span>2016年6月四六级<br/>过级神技能+预测+真题</span></p>
        <p class="y-total y-df-top"><span class="y-p-col"><i class="ion-ios-heart-outline"></i>10</span>
          <span class="y-p-col"><i class="ion-chatbubble-working"></i>23</span></p>
      </div>
      <div class="df-col" style="width:58%;height:130px">
        <img src="img/study/2.jpg"/>
        <p class="y-absolute y-df-bot"><span class="y-df-right">考研</span></p>
        <p class="y-total y-df-top"><span class="y-p-col"><i class="ion-ios-heart-outline"></i>10</span>
          <span class="y-p-col"><i class="ion-chatbubble-working"></i>23</span></p>
      </div>
    </div>
    <div class="row df-study">
      <div class="df-col" style="width:70%;height:130px">
        <img src="img/study/5.jpg"/>
        <p class="y-absolute y-df-bot"><span>新托福 110+<br/>TOP1-48 在线模考</span></p>
        <p class="y-total y-df-top"><span class="y-p-col"><i class="ion-ios-heart-outline"></i>10</span>
          <span class="y-p-col"><i class="ion-chatbubble-working"></i>23</span></p>
      </div>
      <div class="df-col" style="width:30%;height:130px">
        <img src="img/study/4.jpg"/>
        <p class="y-absolute y-df-bot"><span class="y-df-right">考研</span></p>
        <p class="y-total y-df-top"><span class="y-p-col"><i class="ion-ios-heart-outline"></i>10</span>
          <span class="y-p-col"><i class="ion-chatbubble-working"></i>23</span></p>
      </div>
    </div>
  </ion-content>
</ion-view>
