<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-positive tabs-icon-top">

  <!-- Activity Tab -->
  <ion-tab title="活动" active="onOrOff" icon-off="ion-ios-football-outline" icon-on="ion-ios-football"
           href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- Study Tab -->
  <ion-tab title="学习" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/study">
    <ion-nav-view name="tab-study"></ion-nav-view>
  </ion-tab>

  <!-- Add Tab -->
  <ion-tab>
    <!--<ion-nav-view name="tab-adds"></ion-nav-view>-->
  </ion-tab>
  <a class="tab-adds" ng-click="adds()"  style="position: absolute;left:40%;width:20%" >
    <i class="icon ion-ios-plus"></i>
  </a>
  <!-- Quora Tab -->
  <ion-tab title="问答" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/quora">
    <ion-nav-view name="tab-quora"></ion-nav-view>
  </ion-tab>

  <!-- Mine Tab -->
  <ion-tab title="我的" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/mine"
           badge="badge"
           badge-style="badge badge-assertive">
    <ion-nav-view name="tab-mine"></ion-nav-view>
  </ion-tab>

</ion-tabs>

