<ion-header-bar class="bar bar-header bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">新增问题</h1>
  <a class="button button-icon icon ion-ios-paperplane-outline">发布</a>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">标题：</span>
        <input type="text" name="title" ng-model="question.title">
      </label>
      <label class="item item-input">
        <span class="input-label">标签：</span>
        <input type="text" name="tags" ng-model="question.tags">
      </label>
    </div>
    <div class="padding df-none-textarea model-list">
      <textarea placeholder="&nbsp;&nbsp;请输入内容" name="content" ng-modal="question.content"></textarea>
      <div class="buttons buttons-left">
        <div ng-repeat="item in items" class="imgone">
          <img ng-src="{{item.url}}" alt=""/>
        </div>
        <img src="img/quora/add.jpg" data-ng-click="choosePicMenuf()"/>
      </div>
    </div>
  </ion-content>
</ion-view>
