<ion-header-bar class="bar bar-header bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">{{queTitle}}</h1>
  <a class="button button-icon icon ion-ios-paperplane-outline" ng-click="ask()">发布</a>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="list">
      <input type="hidden" ng-model="question.queId">
      <label class="item item-input">
        <span class="input-label">标题：</span>
        <input type="text" ng-change="bindtitle(question.queTitle)" ng-model="question.queTitle">
      </label>
      <label class="item item-input">
        <span class="input-label">标签：</span>
        <input type="text" ng-model="question.queTags" placeholder="多个标签以空格分开">
      </label>
    </div>
    <div class="padding df-none-textarea model-list">
      <textarea ng-model="question.queContent" placeholder="请输入内容"></textarea>
      <div class="buttons buttons-left">
        <div ng-repeat="imgUrl in imglist" class="imgone">
          <img ng-src="{{imgUrl}}" alt=""/>
        </div>
        <img src="img/quora/add.jpg" data-ng-click="choosePicMenuf()"/>
      </div>
    </div>
  </ion-content>
</ion-view>
