<div class="y-list">

  <div class="card q-card">
    <a class="item item-thumbnail-left">
      <img src="img/max.png">
      <p>tab2 关于高校男球你们是怎么看待的</p>
      <span class="y-lasttime-right">2小时前</span>
      <div class="aui-card-list-footer df-aui-padding">
        <div><i class="aui-iconfont aui-icon-note"></i> 666</div>
        <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
        <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
      </div>
    </a>
  </div>
</div>
<div class="card q-card">
  <a class="item item-thumbnail-left">
    <img src="img/ionic.png">
    <p>如何规划自己的大学生涯</p>
    <span class="y-lasttime-right">2小时前</span>
    <div class="aui-card-list-footer df-aui-padding">
      <div><i class="aui-iconfont aui-icon-note"></i> 666</div>
      <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
      <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
    </div>
  </a>
</div>
<div class="card q-card">
  <a class="item item-thumbnail-left">
    <img src="img/adam.jpg">
    <p>如何入门机器学习？</p>
    <span class="y-lasttime-right">2小时前</span>
    <div class="aui-card-list-footer df-aui-padding">
      <div><i class="aui-iconfont aui-icon-note"></i> 666</div>
      <div><i class="aui-iconfont aui-icon-laud"></i> 888</div>
      <div><i class="aui-iconfont aui-icon-star"></i> 888</div>
    </div>
  </a>
</div>

