<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">设置</h1>
</ion-header-bar>

<ion-view>

  <ion-content style="top: 44px">
    <h2 align="center" style="font-family: '微软雅黑 Light'; margin-bottom: 1em">八戒上学，精彩你的校园生活</h2>
    <div>
      <p align="center">
        专注服务作为大学生的你~
      </p>
    </div>

    <div>
      <p align="center">Version: 0.0.1</p>
      <p align="center">客服萌妹QQ: 10001</p>
      <p align="center">www.bajieschool.com</p>
    </div>
  </ion-content>

</ion-view>
