<ion-header-bar class="bar bar-header bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">反馈信息</h1>
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button no-animation button-icon icon buttons button-clear ion-ios-paperplane-outline">提交
    </button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="list">
      <div class="padding">
        <textarea name="content" style="min-height: 120px;" placeholder="主要内容..." ng-model="formData.content"></textarea>
      </div>
      <label class="item item-input">
        <span class="input-label">QQ：</span>
        <input name="content"  ng-model="formData.content">
      </label>
      <label class="item item-input">
        <span class="input-label">微信：</span>
        <input name="content"  ng-model="formData.content">
      </label>
      <label class="item item-input">
        <span class="input-label">邮箱：</span>
        <input name="content"  ng-model="formData.content">
      </label>
    </div>

  </ion-content>
</ion-view>
