<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">我的收藏</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="item-input-inset" style="background: #efefef;">
      <div class="aui-searchbar-input aui-border-radius" tapmode ng-click="doSearch()">
        <i class="aui-iconfont aui-icon-search"></i>
        <form action="javascript:search();">
          <input id="search" type="search" placeholder="" style="text-indent: 1em"
                 ng-model="searchContent" value="searchContent">
        </form>
      </div>
      <div class="aui-searchbar-cancel" style="min-width:42px;color: #59ADC9" ng-click="reset()"
           ng-hide="!searchContent || searchContent === ''">取消
      </div>
    </div>

    <div class="card col-card" on-hold="showdel(clt)" ng-repeat="clt in cltlist | filter:searchContent">
      <div class="item item-divider">
        <h2>
          <div ng-hide="remove">
            <label class="bc-hd" ng-if="clt.type=='活动'">{{clt.type}}</label>
            <label class="bc-xx" ng-if="clt.type=='学习'">{{clt.type}}</label>
            <label class="bc-wd" ng-if="clt.type=='问答'">{{clt.type}}</label>{{clt.title}}
          </div>
          <div ng-show="remove"><label ng-click="deletebtn()" class="bc-sc">删除</label>{{clt.title}}</div>
          <span class="col-time">{{clt.date | date:'yyyy-MM-dd HH:mm'}}</span></h2>
      </div>

      <div class="item item-text-wrap" ng-click="godetial('{{clt.type}}')">
        {{clt.content}}
      </div>
    </div>

  </ion-content>

</ion-view>
