<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">消息通知
  </h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header">

    <div class="card col-card" on-hold="showdel()" ng-repeat="ntf in ntflist">
      <div class="item item-divider">
        <h2 style="padding-right: 0px">
          <div ng-hide="remove">
            <label class="bc-hd" ng-if="ntf.type=='活动'">{{ntf.type}}</label>
            <label class="bc-xx" ng-if="ntf.type=='学习'">{{ntf.type}}</label>
            <label class="bc-wd" ng-if="ntf.type=='问答'">{{ntf.type}}</label>
          </div>
          <label ng-show="remove" ng-click="deletebtn()" class="bc-sc">删除</label>
          {{ntf.title}}</h2>
      </div>
      <div class="item item-text-wrap"  ng-click="godetial('{{ntf.type}}')">
        {{ntf.content}}
      </div>
    </div>
  </ion-content>

</ion-view>
