<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">消息通知</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="card col-card">
      <div class="item item-divider" ng-click="godetial('活动')">
        <h2 style="padding-right: 0px"><label class="bc-hd">活动</label>
          <!-- <label class="bc-hd" ng-if="l.type=='活动'">{{l.type}}</label>
       <label class="bc-xx" ng-if="l.type=='学习'">{{l.type}}</label>
       <label class="bc-wd" ng-if="l.type=='问答'">{{l.type}}</label>-->
          周杰伦演唱会</h2>
      </div>
      <div class="item item-text-wrap">
        基本卡片，包含了文本信息。基本卡片，包含了文本信息。基本卡片，包含了文本信息。基本卡片，包含了文本信息。基本卡片，包含了文本信息。基本卡片，包含了文本信息。
      </div>
    </div>
  </ion-content>

</ion-view>
