<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">{{title}}</h1>
  <div class="buttons">
    <button ng-click="newplan()" class="button no-animation button-icon icon">新建
    </button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content class="has-header">
    <ion-list class="mp_list">
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                ng-repeat="agenda in agendalist">
        <div class="df-bc-num"><span class="ltop">{{agenda.date.split(" ")[0].split("-")[1]}}</span><span class="cendiv">&#47;</span>
          <span class="rbot">{{agenda.date.split(" ")[0].split("-")[2]}}</span></div>
        <h2>{{agenda.title}}<img class="df-himg" src="img/icon/plan/1.png"/></h2>
        <span class="y-date-right">{{agenda.date}}</span>
        <p><i class="ion-ios-alarm-outline" style="font-size: 18px;color: #e6b200;"></i></p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
