<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-close-empty">
    </button>
  </div>
  <h1 class="title">新建日程</h1>
  <div class="buttons">
    <button ng-click="save(agenda)" class="button no-animation button-icon icon ion-ios-checkmark-empty">
    </button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content class="has-header">
    <label class="item item-input newplan">
      <img class="list-left-img" src="img/icon/plan/3.png">
      <span class="input-label">事件</span>
      <input type="text" name="name" ng-model="agenda.agName">
    </label>
    <label class="item item-input newplan">
      <img class="list-left-img" src="img/icon/plan/3.png">
      <span class="input-label">时间</span>
      <input type="date" style="width:70%;" ng-model="agenda.date">
      <input type="time" style="width:25%;margin-left:5%;" ng-model="agenda.time">
    </label>
    <label class="item item-input newplan">
      <img class="list-left-img" src="img/icon/plan/4.png">
      <span class="input-label">备注</span>
      <input type="text" name="name" ng-model="agenda.agRemark">
    </label>
    <label class="item item-input newplan" ng-click="add()">
      <i class="icon ion-ios-plus-outline" ng-class="{'df_grey':disabled}" class=""
         style="font-size: 25px;margin-right: 8px;color:#e6b200"></i>
      <span class="input-label">添加提醒</span>
    </label>
    <div class="item item-input newplan" ng-repeat="set in sets">
      <img class="list-left-img" src="img/icon/plan/5.png">
      <span class="input-label">提醒</span>
      <select name="name" ng-model="agenda.agRemind" style="width:65%">
        <option ng-repeat="reminder in reminders" value="{{reminder.value}}">{{reminder.option}}</option>
      </select>
      <div ng-click="del($index)">
        <i class="icon ion-ios-minus" style="font-size: 29px;margin-left: 10px;color: #ef473a;"></i>
      </div>
    </div>
  </ion-content>

</ion-view>
