<ion-view title="Welcome" class="tour">
  <!-- <ion-nav-buttons side="left">
     <button class="button" ng-click="doSomething()">
       我是一个在导航栏左侧的按钮！
     </button>
   </ion-nav-buttons>-->
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <img src="img/splash-1.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="img/splash-2.jpeg"/>
      </ion-slide>
      <ion-slide>
        <img src="img/splash-3.jpg"/>
        <button class="button button-full button-positive y-tour-bottom" ng-click="login()">开启校园之旅</button>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
