<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">验证</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header">
    <ul class="list flist" style="padding-top: 20px">
      <div class="item item-input" style="border:none">
        <input type="text" class="aui-col-xs-8" placeholder="手机号">
        <div class="aui-btn aui-btn-info aui-col-xs-4" ng-click="sendCaptcha(email)" ng-class="paraclass"
             ng-bind="paracont">获取验证码
        </div>
      </div>
      <div class="item item-input" style="border:none">
        <input type="text" class="aui-col-xs-2" placeholder="验证码">
        <div class="aui-btn aui-btn-info aui-col-xs-10" ng-click="nextste()">验证</div>
      </div>
    </ul>

  </ion-content>
</ion-view>
