<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button ng-click="gohBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">活动详情</h1>
</ion-header-bar>
<ion-view>
  <ion-content id="acontent" style="background: #ebebeb;font-family: 'Microsoft Yahei';bottom: 0px"
               overflow-scroll="true">
    <div class="list card" style="margin:0px 0px 10px; box-shadow: initial">
      <div class="item item-body" style="padding:0px">
        <img class="full-image" style="height: 170px" src="{{actobj.actImg}}">
        <div class="item" style="border: initial;padding: 5px 16px;">
          <h2 style="margin:0px;font-family: 'Microsoft Yahei'">{{actobj.actTitle}}</h2>
          <button ng-click="attend = attend + 1" ng-init="attend=15"
                  class="button  button-small y-lasttime-right icon-left ion-ios-plus-outline button-positive"
                  style="padding: 0px 14px;right: 100px;top: 7px;">参加
          </button>
          <button class="button  button-small y-lasttime-right icon-left ion-ios-navigate-outline button-positive"
                  style="padding: 0px 14px;right: 18px;top: 7px;">分享
          </button>
          <p style="margin-top:10px;">
            <small>{{actobj.actTime}}</small>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <small>已关注{{activitydetail.joinnum}}人/已参加<span
              ng-class="{'df-color':attend>15}">{{activitydetail.joinnum}}人</span>
            </small>
          </p>
          <div class="aui-card-list-footer df-act-fs">
            <div><i ng-show="dzlike" ng-click="alike={'color':'#ebc951'};addlike(actobj.actLike,actobj.actId)"
                    class="aui-iconfont aui-icon-like"></i>
              <i ng-style="alike" ng-hide="dzlike" class="aui-iconfont aui-icon-like"></i>
              <small>赞 {{actobj.actLike}}</small>
            </div>
            <div ng-click="togComment()" ng-class="{'df-color':showComment}"><i
              class="aui-iconfont aui-icon-comment"></i>
              <small>评论 {{actobj.actComment}}</small>
            </div>
            <!--<div><i class="aui-iconfont aui-icon-share"></i>
              <small>分享 888</small>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="showComment" class="list pu-list">
      <label class="item item-input">
        <img class="list-left-img" src="img/icon/mine/4.png">
        <span class="input-label pu-span">时间</span>
        <span class="input-label">{{activitydetail.date}}</span>
      </label>
      <label class="item item-input">
        <img class="list-left-img" src="img/icon/mine/5.png">
        <span class="input-label pu-span">地点</span>
        <span class="input-label">{{activitydetail.place}}</span>
      </label>
      <label class="item item-input">
        <img class="list-left-img" src="img/icon/mine/6.png">
        <span class="input-label pu-span">报名人数</span>
        <span class="input-label">{{activitydetail.signupnum}}人</span>
      </label>
      <label class="item item-input" style="border-bottom: none">
        <img class="list-left-img" src="img/icon/mine/8.png">
        <span class="input-label pu-span">主要内容</span>
      </label>
      <div class="df-act-content">
        <p>{{actobj.actContent}}</p>
      </div>
    </div>
    <div ng-show="showComment">
      <!--评论开始-->
      <div class="aui-card-list-content df-act-comment" ng-repeat="activitycomment in activitycommentlist">
        <ul class="aui-list aui-media-list">
          <li class="aui-list-item aui-list-item-middle df-act-coms">
            <div class="aui-media-list-item-inner">
              <div class="aui-list-item-media">
                <img ng-src="{{activitycomment.avatar}}" class="aui-img-round aui-list-img-sm">
              </div>
              <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                  <div class="aui-list-item-title aui-font-size-14">{{activitycomment.user}}</div>
                  <div class="aui-list-item-right">{{activitycomment.timestamp}}</div>
                </div>
                <div class="aui-list-item-text" ng-bind-html="activitycomment.content">
                </div>
                <div class="aui-card-list-footer df-act-fs">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div><i class="aui-iconfont aui-icon-like"></i>
                    <small> {{activitycomment.likenum}}</small>
                  </div>
                  <div ng-click="creatcom(activitycomment.user)" ng-class="{'df-color':showcom}"><i
                    class="aui-iconfont aui-icon-comment"></i>
                    <small> {{activitycomment.commentnum}}</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="aui-card-list-content df-act-comment" ng-repeat="activitycomment in activitycommentlist">
        <ul class="aui-list aui-media-list">
          <li class="aui-list-item aui-list-item-middle df-act-coms">
            <div class="aui-media-list-item-inner">
              <div class="aui-list-item-media">
                <img ng-src="{{activitycomment.avatar}}" class="aui-img-round aui-list-img-sm">
              </div>
              <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                  <div class="aui-list-item-title aui-font-size-14">{{activitycomment.user}}</div>
                  <div class="aui-list-item-right">{{activitycomment.timestamp}}</div>
                </div>
                <div class="aui-list-item-text" ng-bind-html="activitycomment.content">
                </div>
                <div class="aui-card-list-footer df-act-fs">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div><i class="aui-iconfont aui-icon-like"></i>
                    <small> {{activitycomment.likenum}}</small>
                  </div>
                  <div ng-click="creatcom(activitycomment.user)" ng-class="{'df-color':showcom}"><i
                    class="aui-iconfont aui-icon-comment"></i>
                    <small> {{activitycomment.commentnum}}</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
<ion-footer-bar id="aComment" class="bar-light" resize-foot-bar
                style="background-image:none;box-shadow: 0 0 1px #eee;display: none">
  <label class="item item-input rj-footer-input">
      <textarea msd-elastic ng-bind-html="send_content" style="min-height: initial" placeholder="添加评论"
                required></textarea>
  </label>
  <div class="rj-footer-btn-wrap" ng-click="send()">
    <div class="buttons">
      <button style="color:#6EBDDB" class="button button-icon icon ion-android-send rj-footer-btn-left">
      </button>
    </div>
  </div>
</ion-footer-bar>
