<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button ui-sref="tab.activity"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">发起活动</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header"  ng-controller="newactCtrl">
    <form class="list" class="aui-input-group">
      <input type="hidden" name="actId" ng-model="formData.actId">
      <div class="list" style="position: relative;">
        <label class="item item-input">
          <span class="input-label">主题：</span>
          <input type="text" placeholder="填写活动主题" ng-model="formData.actTitle">
        </label>
        <label class="item item-input">
          <span class="input-label">类别：</span>
          <select style="width: 70%;" type="text"
                  ng-model="formData.actType" ng-options="type.actTypeId as type.actTypeName for type in types">
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">时间</span>
          <input class="form-control" type="time" placeholder="选择活动时间" style="border:none;" ng-model="formData.actTime">
        </label>
        <label class="item item-input">
          <span class="input-label">地点：</span>
          <input type="text" placeholder="填写活动地点" ng-model="formData.actPlace">
        </label>
        <label class="item item-input" ng-click="choosePicMenuf()">
          <span class="input-label">照片：</span>
          <input type="text" placeholder="上传照片" style="background: #fff;" ng-model="formData.actImg" readonly>
        </label>
        <!--<label class="item item-input">
          <span class="input-label">报名人数：</span>
          <input type="number" name="actpeople" placeholder="报名人数" ng-model="formData.actpeople">
        </label>
        <label class="item item-input">
          <span class="input-label">设置权限：</span>
          <input type="text" name="actauthority" placeholder="设置权限" ng-model="formData.actauthority">
        </label>-->
        <label class="item item-input">
          <span class="input-label">主要内容：</span>
          <textarea placeholder="填写主要内容" ng-model="formData.actContent"></textarea>
        </label>
      </div>
      <p style="text-align:center;padding-top:20px;">
        <button type="reset" class="button button-grey" type="reset"
                style="margin-right:30px;font-size:18px;width: 85px;">重&nbsp;置
        </button>
        <button ng-click="save()" class="button button-positive" type="submit"
                style="font-size:18px;width: 85px;">保&nbsp;存
        </button>
      </p>
    </form>
  </ion-content>

</ion-view>
