<div style="background: #ebebeb;font-family: 'Microsoft Yahei'">
  <div class="list card" style="margin:0px; box-shadow: initial">
    <div class="item item-body" style="padding:0px">
      <img class="full-image" style="height: 170px" src="img/activity/ad/3.jpg">
      <i class="ion-ios-arrow-thin-left" ng-click="gopulist()"
         style="position: absolute;top:0px;left:10px;color: #fff;font-size: 1.5rem;"></i>
      <div class="item" style="border: initial;padding: 5px 16px;">
        <h2 style="margin:0px;font-family: 'Microsoft Yahei'">{{actobj.title}}</h2>
        <span class="y-lasttime-right" style="top: 3px;right: 16px;">{{actobj.timestamp}}</span>
        <p style="margin:0px;">
          <small>已关注{{actobj.follownum}}人/已参加{{actobj.joinnum}}人</small>
        </p>
        <div class="aui-card-list-footer df-act-fs">
          <div><i class="aui-iconfont aui-icon-like"></i>
            <small>赞 {{actobj.likenum}}</small>
          </div>
          <div><i class="aui-iconfont aui-icon-comment"></i>
            <small>评论 {{actobj.commentnum}}</small>
          </div>
          <div><i class="aui-iconfont aui-icon-share"></i>
            <small>分享</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list pu-list" style="margin-top:10px">
    <label class="item item-input">
      <img class="list-left-img" src="img/icon/mine/4.png">
      <span class="input-label pu-span">时间</span>
      <span class="input-label">{{actobj.timestamp}}</span>
    </label>
    <label class="item item-input">
      <img class="list-left-img" src="img/icon/mine/5.png">
      <span class="input-label pu-span">地点</span>
      <span class="input-label">{{actobj.place}}</span>
    </label>
    <label class="item item-input">
      <img class="list-left-img" src="img/icon/mine/6.png">
      <span class="input-label pu-span">报名人数</span>
      <span class="input-label">{{actobj.joinnum}}人</span>
    </label>
    <label class="item item-input" style="border-bottom: none">
      <img class="list-left-img" src="img/icon/mine/7.png">
      <span class="input-label pu-span">主要内容</span>
    </label>
    <div class="df-act-content">
      <p>{{actobj.content}}</p>
    </div>
  </div>
</div>
