<ion-header-bar align-title="left" class="bar-positive"
                style="background-image:linear-gradient(0deg, #59ADC9, #6EBDDB 50%, transparent 50%)">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">回答</h1>
</ion-header-bar>
<ion-view>
  <ion-content style="font-family: 'Microsoft Yahei'">
    <div class="aui-card-list-content df-act-comment">
      <div class="stu-ans">
        <h2 style="color:#fff;">海洋是如何形成的？</h2>
      </div>
      <li class="aui-list-item aui-list-item-middle df-stu-user">
        <div class="aui-media-list-item-inner">
          <div class="aui-list-item-media">
            <img src="img/perry.png" class="aui-img-round aui-list-img-sm">
          </div>
          <div class="aui-list-item-inner">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title" style="font-size: 0.6rem">Tony Soup</div>
            </div>
            <div class="aui-list-item-text" style="font-size: 0.6rem">
              地质攻城狮，生活爱好者
            </div>
          </div>
          <button ng-show="choose" ng-click="attention()" class="button  button-small y-lasttime-right icon-left ion-ios-plus-outline button-balanced"
                            style="padding: 0px 14px;right: 14px;top: 14px;">关注
        </button>
          <button ng-hide="choose" ng-click="attention()"class="button  button-small y-lasttime-right icon-left"
                  style="padding: 0px 14px;right: 14px;top: 14px;background: gainsboro;color:grey">已关注
          </button>
        </div>
    </div>
    </li>
    <section class="aui-content-padded" style="position: relative;bottom:30px;">
      <p>地球上的水究竟是从哪里来的？讨论这个问题，实际上是讨论海洋形成的问题。然而，直到今天，科学界一直存在着不同的看法。</p>
      <p>多数的看法认为，大约在50～55亿年前，云状宇宙微粒和气态物质聚集在一起，形成了最初的地球。原始的地球，既无大气，也无海洋，是一个没有生命的世界。在地球形成后的最初几亿年里，由于地壳较薄，加上小天体不断轰击地球表面，地幔里的熔融岩浆易于上涌喷出，因此，那时的地球到处是一片火海。随同岩浆喷出的还有大量的水蒸气、二氧化碳，这些气体上升到空中并将地球笼罩起来。水蒸气形成云层，产生降雨。经过很长时间的降雨，在原始地壳低洼处，不断积水，形成了最原始的海洋。原始的海洋海水不多，约为今天海水量的1／10。另外，原始海洋的海水只是略带咸味，后来盐分才逐渐增多。经过水量和盐分的逐渐增加，以及地质历史的沧桑巨变，原始的海洋才逐渐形成如今的海洋。这是第一种有代表性的说法。
      还有一种说法是，海水来自冰替星雨。这是美国科学家提出的一种新的假说。这一理论是根据卫星提供的某些资料而得出的。1987年，科学家从卫星获得高清晰度的照片。在分析这些照片时，发现一些过去从未见到过的黑斑，或者说是“洞穴”。科学家认为，这些“洞穴”是冰慧星造成的。而且初步判断，冰慧星的直径多在20千米。大量的冰慧星进入地球大气层，可想而知，经过数亿年，或者更长的时间，地球表面将得到非常多的水，于是就形成今天的海洋。但是，这种理论也有它不足的地方。就是缺乏海洋在地球形成发育的机理过程，而且这方面的证据也很不充分。
      海洋是如何形成的，或者说，地球上的水究竟来自何方？只有当太阳系起源问题得到解决了，地球起源问题、地球上的海洋起源问题才能得到真正解决。</p>
      <li>
        <p style="float: right;padding: 0 16px 16px">编辑于 2016-02-26</p>
      </li>
    </section>
    </div>
    </div>
  </ion-content>
  <div class="bar bar-footer df-footer">
    <button class="button icon  aui-iconfont aui-icon-laud">赞</button>
    <div class="title">
      <button class="button icon  aui-iconfont aui-icon-star">收藏</button>
    </div>
    <button ng-click="gocom()" class="button icon  aui-iconfont aui-icon-note">339</button>
  </div>
</ion-view>
