<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">评论</h1>
</ion-header-bar>
<ion-view>
  <ion-content style="background: #ebebeb;font-family: 'Microsoft Yahei'">
      <div class="aui-card-list-content df-act-comment">
        <ul class="aui-list aui-media-list">
          <li class="aui-list-item aui-list-item-middle df-act-coms">
            <div class="aui-media-list-item-inner">
              <div class="aui-list-item-media">
                <img src="img/ben.png" class="aui-img-round aui-list-img-sm">
              </div>
              <div class="aui-list-item-inner" style="border-bottom: 1px solid #ccc;">
                <div class="aui-list-item-text">
                  <div class="aui-list-item-title aui-font-size-14">AUI</div>
                </div>
                <div class="aui-list-item-text">
                  广角换长焦？
                </div>
                <p class="y-front-size">
                   <span class="y-p-col">8-2 08:00</span>
                  <span class="y-p-col-right"><i
                    class="aui-iconfont aui-icon-laud"></i>35</span>
                </p>
              </div>
            </div>
          </li>
          <li class="aui-list-item aui-list-item-middle df-act-coms">
            <div class="aui-media-list-item-inner">
              <div class="aui-list-item-media">
                <img src="img/me.png" class="aui-img-round aui-list-img-sm">
              </div>
              <div class="aui-list-item-inner" style="border-bottom: 1px solid #ccc;">
                <div class="aui-list-item-text">
                  <div class="aui-list-item-title aui-font-size-14">绿化撒哈拉</div>
                </div>
                <div class="aui-list-item-text">
                  写的真好！
                </div>
                <p class="y-front-size">
                  <span class="y-p-col">8-2 08:00</span>
                  <span class="y-p-col-right"><i
                    class="aui-iconfont aui-icon-laud"></i>35</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </ion-content>
</ion-view>
