<ion-header-bar class="bar bar-header bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">学习话题</h1>
  <div class="buttons">
    <button ng-click="save()"
            class="button no-animation button-icon icon buttons button-clear ion-ios-paperplane-outline">发布
    </button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="list">
      <input type="hidden" ng-model="formData.stdId">
      <label class="item item-input">
        <span class="input-label">标题：</span>
        <input type="text" ng-model="formData.stdTitle" required>
      </label>
      <label class="item item-input">
        <span class="input-label">类别：</span>
        <select ng-model="formData.typeId" ng-options="type.typeId as type.typeName for type in types">
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">主要内容：</span>
        <textarea name="content" placeholder="填写主要内容" ng-model="formData.stdContent"></textarea>
      </label>
    </div>

  </ion-content>
</ion-view>
