<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">学习分类</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header">
    <section class="aui-grid">
      <div class="aui-row" style="margin: 0 3%;">
        <div class="aui-col-xs-3" ng-click="addtype('{{t.title}}')" ng-style="{height:myheight}" ng-repeat="t in stype">
          <div class="stu-warp stu-type-border" ng-style="{height:sth,'line-height':sth}" ng-class="{'mlenstyle':t.title.length>=4}">
            {{t.title}}
          </div>
        </div>
        <div class="aui-col-xs-3" ng-style="{height:myheight}" ng-repeat="t in stype">
          <div class="stu-warp stu-type-border" ng-style="{height:sth,'line-height':sth}" ng-class="{'mlenstyle':t.title.length>=4}">
            {{t.title}}
          </div>
        </div>
        <div class="aui-col-xs-3" ng-style="{height:myheight}" ng-repeat="t in stype">
          <div class="stu-warp stu-type-border" ng-style="{height:sth,'line-height':sth}" ng-class="{'mlenstyle':t.title.length>=4}">
            {{t.title}}
          </div>
        </div>
        <div class="aui-col-xs-3" ng-style="{height:myheight}" ng-repeat="t in stype">
          <div class="stu-warp stu-type-border" ng-style="{height:sth,'line-height':sth}" ng-class="{'mlenstyle':t.title.length>=4}">
            {{t.title}}
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
