<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button ng-click="$ionicGoBack()"
            class="button back-button no-animation button-icon icon buttons button-clear ion-ios-arrow-back">
    </button>
  </div>
  <h1 class="title">学习分类</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header">
    <div class="aui-row stu-row" style="margin:3%;">
      <h2>关注模块</h2>
      <div class="aui-col-xs-3" ng-click="removetype(($index))" ng-repeat="t in stype">
        <div class="stu-warp" ng-style="{background:'{{bgc[$index]}}'}" style="color:#fff">
          {{t.typeName}}
        </div>
      </div>
    </div>
    <div style="border:1px dashed #ccc;width:100%"></div>
    <div class="aui-row stu-row" style="margin:3%;">
      <h2>所有模块</h2>
      <div class="aui-col-xs-3" ng-click="">
        <div class="stu-warp stu-type-border tjfc">
          推荐
        </div>
      </div>
      <div class="aui-col-xs-3" ng-click="addtype(unChosenType)"
           ng-repeat="unChosenType in unChosenTypes">
        <div class="stu-warp stu-type-border">
          {{unChosenType.typeName}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
